/* styles.css */

[data-theme="light"]{
    --primary:#5ac2cf;
    --background: #b3c6caea;
    --text:#3a3135;
    --textinverted:#2e682e;
    --boundingbox: #aff1de;
}

[data-theme="dark"]{
    --primary:#fc843e;
    --background: #19191f;
    --text:#e9dada;
    --textinverted:#3b07079d;
    --boundingbox: #b48166;
}


body{
    color: var(--text);
    background: var(--background);
    margin: 60px;



}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-inline: 100px;
    padding-block-start: 40px;
    


    
}
header {
    font-family: Arial, Helvetica, sans-serif;
    text-align: flex;
    border-radius: 5px;
    background-color: var(--primary);
    margin-inline: 50px;



}
nav {
    padding: 0;
    display:flex;
}

nav ul {
    list-style-type: none;
    float:left;
    width: 70%;
    display: flex;
    
    
    
}
nav u2 {
    float:right;
    width: 10%;
    margin-top: 15px ;
    display: flex;
    

}
nav li {

    
    margin-right: 20px;
    display: flex;


}

nav a {
    color: var(--textinverted);
    text-decoration: none;
    
    font-weight: bold;

}

nav a:hover {
    text-decoration: line;
    color:var(--text)!important;
    cursor: pointer;
    
}

button{
    background-color: var(--primary);
    padding: 10px;
    border: none;
    color: var(--text);
    margin-top: 20px;
    border-radius: spx;
}
