{% extends 'base.html' %}

{% block titulo%}  Inicio{% endblock %}


{% block contenido %}

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at massa est. Donec porta elementum nisi, in euismod felis. Donec a sollicitudin nibh. Suspendisse id tortor eu urna eleifend mattis et eu enim. Donec sem dui, lobortis eu malesuada ut, venenatis et mi. Donec interdum odio tincidunt sagittis sodales. Ut faucibus nibh enim, vitae elementum ex molestie in. Vivamus ac magna elit. Cras luctus malesuada mauris, vestibulum mollis tellus ornare id. Nam in elit sed turpis tincidunt bibendum. Phasellus volutpat, tortor sit amet scelerisque venenatis, massa turpis commodo diam, tincidunt ornare dui urna a nibh. Etiam mattis augue vitae sem ornare auctor.
</p>
<p>
    Nulla commodo bibendum neque lacinia pulvinar. Curabitur cursus tempus posuere. Vivamus suscipit aliquet interdum. Vivamus vulputate vulputate urna in laoreet. Vestibulum ullamcorper tincidunt tincidunt. Fusce elit libero, porttitor non tristique vel, rhoncus at diam. Fusce maximus ligula eu risus ornare scelerisque.
</p>


{% endblock %}