{% extends 'base.html' %}

{% block titulo%}  Visualizacion {% endblock %}

{% block contenido %}

    <div class="container-max">
        {% comment %} <table class="tablehide">
            <tr>
                <td>
                    <div class="card">
                        <h2>Tiempo real</h2>
                        <p> Consulta aqui los valores de temperatura en tiempo real para cada uno de tus dispositivos </p>
                        <a href="{% url 'temperatura' %}">
                        <button>Ir a tiempo real</button>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <h2>Historial</h2>
                        <p>Mira el historial completo de temperatura a lo largo del ultimo año</p>
                        <button >Ir a historial</button> 
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card">
                        <h2>Historial</h2>
                    </div>
                </td>
                <td>
                    <div class="card">
                        <h2>Historial</h2>
                    </div>
                </td>
                
            </tr>

        </table> {% endcomment %}


        <div class="row-2">
            <div class="col-2">
                <h2>Tiempo real</h2>
                <p>Consulta aqui los valores de temperatura en tiempo real para cada uno de tus dispositivos</p>
                <a class="botonabajo" href="{% url 'temperatura' %}">
                    <button>Ir a tiempo real</button>
                </a>
            </div>
            <div class="col-2">
                <h2>Historial</h2>
                <p>Mira el historial completo de temperatura a lo largo del ultimo año</p>
                <a class="botonabajo"  {% comment %} href="{% url 'temperatura' %}" {% endcomment %}>
                    <button>Ir a ...</button>
                </a>
            </div>
        </div>
        <div  class="row-2">
            <div class="col-2">
                <h2>Busqueda</h2>
                <p>Busqueda por año, mes y dia</p>
                <a class="botonabajo" {% comment %} href="{% url 'temperatura' %}" {% endcomment %}>
                    <button>Ir a ...</button>
                </a>
            </div>
            <div class="col-2">
                
                <h2>Alertas</h2>
                <p>Obten la informacion de las ultimas alertas</p>
                <a class="botonabajo" {% comment %} href="{% url 'temperatura' %}" {% endcomment %}>
                    <button>Ir a ...</button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}


