{% extends 'base.html' %}

{% block titulo%}  Inicio{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark border rounded-3">
                    <h2>Tiempo real</h2>
                    <p>Consulta aqui los valores de temperatura en tiempo real para cada uno de tus dispositivos</p>
                    <button>Ir a tiempo real</button>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="h-100 p-5 text-white bg-dark border rounded-3">
                    <h2>Historial</h2>
                    <p>Mira el historial completo de temperatura a lo largo del ultimo año</p>
                    <button>Ir a historial</button>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="h-100 p-5 text-white bg-dark border rounded-3">
                    <h2>Busqueda</h2>
                    <p>Busqueda por año, mes y dia</p>
                    <button>Ir a busquedas</button>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="h-100 p-5 text-white bg-dark border rounded-3">
                    <h2>Alertas</h2>
                    <p>Obten la informacion de las ultimas alertas</p>
                    <button >Ir a alertas</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


