{% load static %}
<!doctype html>
<html lang="es">

  <head>

    <title>{% block titulo %} {% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'misestilos.css' %}"></link>
    <script src="{% static 'miscript.js'%}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    

  </head>
  <body>

    <header id="start">
      <nav>
        <ul>
          <li><a  href="{% url 'inicio' %}">Inicio</a></li>
          <li><a  href="{% url 'acerca-de' %}">Acerca de</a></li>
          <li><a  href="{% url 'observaciones' %}">Observaciones</a></li>
          <li><a  href="{% url 'visualizacion' %}">Visualizacion</a></li>
        </ul>
        <u2>
          <label  id="slider">
            {% comment %} <li>
              Temas  ➤➤
            </li> {% endcomment %}
          </label>
          {% comment %} <li>
            <a>
              <input type="button" ></input>
              <span class="slider"></span>
            </a>
          </li> {% endcomment %}
        </u2>
      </nav>

      
    </header>
    <main>
      
      {% block contenido%} {% endblock %}       
       <a id="end"></a>
    </main>
    <footer>
     
     <u1>
      <iframe id="elframe" src="https://horalegalnueva.inm.gov.co/inm/" style="overflow: hidden;"></iframe>
     </u1>
     <u2>
      
      <a href="#start">Ir al principio</a>
      <a href="#end">Ir al final</a>
      
    </u2>
    </footer>
    <!-- JavaScript Libraries -->
    
  </body>
</html>

