{% load static %}
<!doctype html>
<html lang="es">

  <head>

    <title>{% block titulo %} {% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'misestilos.css' %}"></link>
    <script src="{% static 'miscript.js'%}" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    

  </head>
  <body>

    <header id="start">
      <nav>
        <u2>
          <iframe src="https://horalegalnueva.inm.gov.co/inm/" scrolling="no"></iframe>
        </u2>
        <ul>
          <li><a class="resaltar" href="{% url 'inicio' %}">Inicio</a></li>
          <li><a class="resaltar" href="{% url 'acerca-de' %}">Acerca de</a></li>
          <li><a class="resaltar" href="{% url 'observaciones' %}">Observaciones</a></li>
          <li><a class="resaltar"href="{% url 'visualizacion' %}">Visualizacion</a></li>
          <li><a>
            <div>
              <input type="checkbox" id= "slider"> 

              <label for="slider" class="label-slider"></label>
            </div>
          </a>          
          </li>
        </ul>
        <u2>
          {% comment %} <li>
            <a>
              <input type="button" ></input>
              <span class="slider"></span>
            </a>
          </li> {% endcomment %}
        </u2>
      </nav>

      
    </header>
    <main>
      
      {% block contenido%} {% endblock %}       
       <a id="end"></a>
    </main>
    <footer>
     
    </footer>
    <!-- JavaScript Libraries -->
    
  </body>
</html>

