{% load static %}
<!doctype html>
<html lang="es">

  <head>

    <title>{% block titulo %} {% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Permic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'misestilos.css' %}"></link>
    <script src="{% static 'miscript.js'%}" type="text/javascript"></script>

  </head>
  <body>

    

    
    <header id="start">
      
      <nav >
{% comment %}         
        <u2 >
          <img class="logo" src="/static/LogoINMNegro.png" alt="Mi imagen" height="60">
        </u2> {% endcomment %}
        <ul>
          <li class="leftlogo"> <img class="logo" src="/static/LogoINMNegro.png" alt="Mi imagen" height="60"> </li>
          <li><a class="resaltar" href="{% url 'inicio' %}">Inicio</a></li>
          <li><a class="resaltar" href="{% url 'acerca-de' %}">Acerca de</a></li>
          <li><a class="resaltar" href="{% url 'observaciones' %}">Observaciones</a></li>
          <li><a class="resaltar"href="{% url 'visualizacion' %}">Visualizacion</a></li>
          <li><a>
            <div>
              <input type="checkbox" id= "slider"> 

              <label for="slider" class="label-slider"></label>
            </div>
          </a>          
          </li>
        </ul>

      </nav>

      
    </header>
    <main>
      
      {% block contenido%} {% endblock %}
      
       
             
       <a id="end"></a>

       
    </main>
    <footer>
     
    </footer>
    
  </body>
</html>

