/* styles.css */

[data-theme="light"] {

    --backgroundgeneral: linear-gradient(0deg, rgb(250, 242, 208) 0%, rgb(147, 149, 255) 100%) no-repeat;
    --backgroundheader: rgb(233, 233, 233);
    --textheader: rgb(22, 41, 23);
    --iframe1: invert() contrast(2) grayscale();
    --backgroundcard: linear-gradient(0deg, rgb(213, 247, 255)0%, rgb(61, 213, 240) 100%) no-repeat;
    --backgroundcardhover: linear-gradient(0deg, rgb(255, 213, 253)0%, rgb(115, 255, 122) 100%) no-repeat;
    --textbody: black;
    --buttontext: rgb(171, 255, 255);
    --buttonbackground: rgb(0, 0, 0);
    --hovercard: #a5892f;


}

[data-theme="dark"] {

    --backgroundgeneral: linear-gradient(0deg, rgb(54, 25, 49) 0%, rgb(11, 11, 56)100%) no-repeat;
    --backgroundheader: rgb(0, 0, 0);
    --textheader: rgb(205, 249, 255);
    --iframe1: grayscale() contrast(2) brightness(1);
    --backgroundcard: linear-gradient(0deg, rgb(20, 20, 20)0%, rgb(0, 0, 0) 100%) no-repeat;
    --textbody: rgb(201, 201, 201);
    --backgroundcardhover: linear-gradient(0deg, rgb(46, 46, 46)0%, rgb(19, 24, 34) 100%) no-repeat;
    --buttontext: black;
    --buttonbackground: whitesmoke;
    --hovercard: #353b8f;

}

* {
    font-family: 'Noto Sans Old Permic', sans-serif;


}


body:not(.no-transition) {
    body:not(.no-transition) {
        transition: 0;
    }
}

body {

    margin: 0;
    padding: 0;
    background: var(--backgroundgeneral);
    width: 100vw;
    height: 100vh;
    color: var(--textbody);


}

main {
    text-align: justify;
    margin-top: 3rem;
    margin-inline: 4rem;
}

header {
    margin: 0;
    padding: 0;
    background-color: var(--backgroundheader);
    max-height: 135px;
    width: 100%;
    font-size: small;
    font-weight: bold;
    align-items: center;



}

nav {
    display: block;
    justify-content: space-between;
    margin-right: 0;
}

nav u2 {


    margin-left: 0;
    justify-content: center;
    display: flex;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;

}



nav li {
    margin-inline: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--textheader);
    height: 30px;
}

nav a.resaltar:hover {
    text-decoration: line;
    font-size: 0.9rem;
    transition: .1s ease-in-out;
}

button {
    background-color: var(--buttonbackground);
    color: var(--buttontext);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
    text-decoration: none;
    cursor: pointer;


}

button:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

}


.label-slider {
    display: inline-block;
    height: 30px;
    width: 55px;

    

    background-color: #5eb6ff;
    opacity: 1;
    
    border-radius: 100px;
    box-shadow: inset 3px 3px 10px rgb(54, 15, 80);

    background-image: url('/static/slider_fondo.png');
    background-size: cover;
    opacity:1;

    position: relative;
    cursor: pointer;

}


.label-slider::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50px;


    background: #a9beda;
    box-shadow: inset 5px 5px 10px rgb(255, 255, 255);

    border-style: solid;
    border-color: #91beb3fa;
    border-width: .2px;
    top: -1px;
    left: 0px;

    transition: .02s ease-out;
}


#slider {
    display: none;
}

#slider:checked~.label-slider {
    background-color: #9148d6;


}

#slider:checked~.label-slider::after {
    left: 27px;

}



.time-real {

    align-content: center;
    border-spacing: 0;


    padding: 0;
    width: 100%;


}

.time-real tr td {
    text-align: center;
    padding: 2rem;
    border-spacing: 0;
    border: .1rem solid var(--border);

}

.container-max {
    padding: 0;
    margin: 0;
    padding-inline: 10px;
}

.col-2 {
    width: 100%;
    margin-inline: 5%;
    margin-bottom: 3rem;
    background: var(--backgroundcard);
    border-radius: 10px;
    padding: 1.5rem;
    display: grid;
    cursor: default;
}



.col-2:hover {
    transition: all .4s ease;
    /* background-color: var(--bselected); */
    background: 0.5;
    box-shadow: 3px 3px 3px var(--hovercard);
    background: var(--backgroundcardhover);


}

.row-2 {
    width: 85%;

    float: left;



}

.botonabajo {
    text-decoration: none;
    display: flex;
    justify-content: right;
    width: 100%;
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    height: 70px;
    width: 520px;
    background: #004884 0% 0% no-repeat padding-box;
    overflow: unset;

    filter: var(--iframe1);

}

@media (min-width:1080px) {


    nav {

        display: flex;
    }

    nav u1 {

        display: flex;
        justify-content: end;
    }

    nav u2 {

        display: flex;
        justify-content: left;

    }

    .row-2 {
        width: 100%;
        display: inline;
        align-self: center;
        display: flex;

    }



}